<div class="footer-container bg-dark-blue">
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="footer-section">
        <h2>EFICAL SpA</h2>
        <p>Especialistas en mantención,  certificación, eficiencia térmica, análisis de gases en calderas,
           hornos, quemadores industriales y sistemas de climatización.</p>
      </div>

      <div class="footer-section">
        <h4>Contacto</h4>
        <div class="contact-info">
            <a href="tel:+56981988494">
            <mat-icon>phone</mat-icon>
            <span>(+56) 9 8198 8494</span>
          </a>
          <a href="mailto:efical.climatizacion@gmail.com">
            <mat-icon>email</mat-icon>
            <span>efical.climatizacion&#64;gmail.com</span>
          </a>
          <a href="https://maps.google.com" target="_blank">
            <mat-icon>location_on</mat-icon>
            <span>Calle San Juan Bosco #430, Concepción, Chile.</span>
          </a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p>&copy; 2024 EFICAL SpA. Todos los derechos reservados.</p>
    </div>
  </div>
</div>