.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  position: relative;
  padding-bottom: 5px;
  color: #054289;
  text-decoration: none;
  font-weight: lighter;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #054289;
  transition: width 0.3s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

.mobile-menu {
  display: none;
  color: #054289;

}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

.mat-toolbar {
  background-color: white;
  color: #054289;
  padding: 1rem;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-toolbar img {
  height: 5rem; /* Adjust this value to match your desired logo height */
  margin-right: 20px;
  object-fit: contain;
}