<mat-toolbar class=" text-white" color="primary">
  <mat-toolbar-row>
    <a routerLink="/home">
      <img src="assets/images/logo.png" alt="">
    </a>

    <span class="spacer"></span>
    
    <div class="nav-links desktop-menu">
      <a mat-button routerLink="/home" routerLinkActive="active">INICIO</a>
      <a mat-button routerLink="/servicios" routerLinkActive="active">SERVICIOS</a>
      <a mat-button routerLink="/trabajos" routerLinkActive="active">TRABAJOS</a>
      <a mat-button routerLink="/equipo" routerLinkActive="active">EQUIPO</a>
      <a mat-button routerLink="/contacto" routerLinkActive="active">CONTACTO</a>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/home">INICIO</a>
      <a mat-menu-item routerLink="/servicios">SERVICIOS</a>
      <a mat-menu-item routerLink="/trabajos">TRABAJOS</a >
      <a mat-menu-item routerLink="/equipo">EQUIPO</a>
      <a mat-menu-item routerLink="/contacto">CONTACTO</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>