.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.mobile-menu {
  display: none;
  color: white;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
  
  .mat-toolbar {
    height: 60px; /* Smaller toolbar for mobile */
  }
}

.mat-toolbar {
  background-color: #054289;
  color: white;
  padding: 0 16px;
  height: 70px; /* Adjust toolbar height to accommodate logo */
}

.mat-toolbar img {
  height: 50px; /* Adjust this value to match your desired logo height */
  margin-right: 20px;
  object-fit: contain;
}

.nav-links a {
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.nav-links a:hover {
  opacity: 1;
}

.nav-links a.active {
  opacity: 1;
}