<section class="contact-header">
    <h1>Contáctanos</h1>
    <p>Estamos aquí para ayudarte</p>
  </section>
  
  <div class="contact-container">
    <section class="contact-info">
      <mat-card>
        <mat-card-content>
          <h2>Información de Contacto</h2>
          
          <div class="info-item">
            <mat-icon>location_on</mat-icon>
            <div>
              <h3>Dirección</h3>
                <p>Calle San Juan Bosco #430, Concepción, Chile.</p>
            </div>
          </div>
  
          <div class="info-item">
            <mat-icon>phone</mat-icon>
            <div>
              <h3>Teléfono</h3>
              <a href="tel:+56981988494">
                <span>(+56) 9 8198 8494</span>
              </a>
            </div>
          </div>
  
          <div class="info-item">
            <mat-icon>email</mat-icon>
            <div>
              <h3>Email</h3>
              <a href="mailto:efical.climatizacion@gmail.com">
                <span>efical.climatizacion&#64;gmail.com</span>
              </a>
            </div>
          </div>
  
          <div class="info-item">
            <mat-icon>schedule</mat-icon>
            <div>
              <h3>Horario de Atención</h3>
              <p>Lunes a Viernes: 9:00 - 18:00</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </section>
  </div>